
.container {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    gap: 30px;
    align-items: center;
    color: black;
}

.list {
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.list-items{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.check-status {
    width: 100px;
}